{% extends 'layout.html' %} 

{% block title %} Posts {% endblock %} 


{% block content %}
  <section class="section">
    <h1 class="">Posts</h1>
    {% for post in posts  %}
    <article class="post">
      <a href="{% url "posts:page" slug=post.slug %}" class="">
        <h2 class="post__title">{{ post.title }}</h2>
      </a>
      <p class="post__date">{{ post.date }}</p>
      <p class="post__body wrap-pretty">{{ post.body }}</p>
    </article>
    {% endfor %}
  </section>
{% endblock %}
