<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
        {% block title %}
        Blog Post Django App
        {% endblock  %}
    </title>
    <script src="{% static "js/main.js" %}" defer></script>
</head>
<body>
    <nav class="nav">
        <a class="logo" href="/">
            intangible
        </a>
        <ul class="nav__items">
            <li class="nav__item">
                <a class="nav__link" href="/">
                    Feed
                </a>
            </li>
            <li class="nav__item"><a class="nav__link" href="/about">About</a></li>
            <li class="nav__item"><a class="nav__link" href="/posts">Posts</a></li>
            
            {% if user.is_authenticated %}
            <li class="nav__item">
                <a class="nav__link" href="{% url "posts:new-post" %}">New Post</a>
            </li>
            {% endif %}
        </ul>
        
        <div class="user-info flex-wrap">
                {% if user.is_authenticated %}
                <span class="username">Hello, {{ user.username }}</span>
                <form action="{% url "users:logout" %}" method="post" class="form-logout">
                    {% csrf_token %}
                <button class="btn btn-logout btn-secondary ">Logout</button>    
                </form>

                {% else %}
                <ul class="nav__cta">
                    <a href="{% url "users:login" %}" class="btn btn-primary">
                        Login
                    </a>
                    <a href="{% url "users:register" %}" class="btn btn-secondary">
                        Register
                    </a>
                    
                </ul>
    
            {% endif %}
            </div>
       
        
    </nav>
    <main class="main">
        {% block content %}

        {% endblock  %}
    </main>
</body>
</html>


